/* 
hover:hover only targets devices which supports hover interaction
pointer-fine adds an extra layer to support on device which support fine pointer devices(mouse) 
*/
@media (hover: hover) and (pointer: fine) {
  .tweet:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .tweet-username:hover {
    text-decoration: underline;
    color: #1d9bf0;
  }

  #tweet-like-icon,
  #tweet-retweet-icon,
  #tweet-comment-icon,
  #tweet-delete-icon {
    border-radius: 50%;
    transition: 300ms;
  }

  #tweet-like-icon:hover {
    color: #f91880;
    background-color: #f9188130;
  }

  #tweet-retweet-icon:hover {
    color: #00ba7c;
    background-color: #00ba7c25;
  }

  #tweet-comment-icon:hover {
    color: #1d9bf0;
    background-color: #1d9cf026;
  }

  #tweet-delete-icon:hover {
    color: #f01d3d;
    background-color: #f01d3d28;
  }
}

.liked {
  color: #f91880;
}

.retweeted {
  color: #00ba7c;
}
