/* md screens */
@media (max-width: 768px) {
  .rounded-md-start-0,
  .rounded-md-end-0 {
    border-radius: 0rem !important;
  }

  .rounded-md-start-2 {
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
  }

  .rounded-md-end-2 {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
  }
  .rounded-md-top-2 {
    border-top-left-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
  }
  .rounded-md-bottom-2 {
    border-bottom-left-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
  }
}
